@import "../../../styles/variable";
@import "../../../styles/mixins.scss";

.footer {
    display: flex;
    justify-items: center;
    justify-content: space-between;

    padding: 70px 0;

    border-bottom: 6px solid $third-color;

    // padding: 89px 28px;
    background-color: $third-color;

    color: $primary-color;

    gap: 30px;

    line-height: 1.3;
    // background-color: $primary-color;

    .footer-wrapp-right {
        display: flex;
        align-items: center;
        gap: 30px;
        color: $secondary-color;

        .navigate {
            display: flex;
            gap: 45px;

            & li {
                align-items: center;
                a {
                    color: $secondary-color;
                }
            }
            @include screen($breakpoints-xs, $breakpoints-lg) {
                flex-direction: column;
                align-items: start;
            }
        }

        .copyright {
            font-weight: 300;
            display: inline-block;
        }

        @include screen($breakpoints-xs, $tablet) {
            flex-direction: column;
            align-items: start;
        }
    }

    @include screen($breakpoints-xs, $tablet) {
        flex-direction: column;
    }
}
