@use "../abstracts/" as *;

.container {
    font-family: $font-primary;
    max-width: 1400px;
    margin: 0 auto;
}

.link {
    font-family: $font-primary;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    color: $primary-color;
    text-transform: capitalize;
}
